@import url(https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 600);
.Timetable {
  padding-right: 1%;
  overflow-x: auto;
  /* width: 90%; */
  /* margin: 0 auto; */
  margin-top: 5%;
  font-family: "Open Sans", sans-serif;
}

.Timetable .leftcol-color {
  background-color: transparent;
  position: relative;
}

.Timetable .leftcol-color .spantag {
  position: absolute;
  bottom: 90%;
  left: 10%;
  font-size: 1em;
  font-weight: 600;
}

.Timetable table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}

.Timetable .th-td-width {
  width: 13.5%;
}

.Timetable .left-col-width {
  width: 5%;
}
.Timetable th {
  text-align: center;
  padding: 2.3% 0;
  background: transparent;
  font-size: 1em;
  font-weight: 600;
}

.Timetable td {
  text-align: center;
  padding: 2.3% 0;
}

.Timetable .border {
  border: 1px solid #000 !important;
}
