@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
.Catalogue-Table {
    overflow-x: auto;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    font-family: 'Open Sans', sans-serif;
}

.Catalogue-Table .leftcol-color {
    background-color: rgba(52, 73, 94, 0.9);
    /* transform: translateY(-50%); */
    /* position: absolute; */
    padding: 2%;
}

.Catalogue-Table .Headline {
    text-align: center;
    background-color: darkred;
    width: 50%;
    margin: 0 auto;
    padding: 0.5px;
    color: white;
    border-radius: 3px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.Catalogue-Table table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

.Catalogue-Table th, .Catalogue-Table td {
    text-align: center;
    padding: 1.5% 0;
}

.Catalogue-Table th {
    background: #34495e;
    color: white;
}

.Catalogue-Table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Tooltip starts */

/* Add this attribute to the element that needs a tooltip */

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
    width: initial;
}

/* Hide the tooltip content by default */

[data-tooltip]:before, [data-tooltip]:after {
    visibility: hidden;
    pointer-events: none;
}

/* Position tooltip above the element */

[data-tooltip]:before {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-bottom: 10px;
    margin-left: -75px;
    padding: 7px 5px;
    width: 140px;
    background-color: black;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */

[data-tooltip]:after {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: -7px;
    margin-bottom: 3px;
    width: 0;
    border-top: 7px solid black;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    visibility: visible;
    bottom: 90%;
}

/* Tooltip ends */